@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* !CONTAINER  */
.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  /* border: 10px solid red; */
  font-family: "Inter", sans-serif;
}

/* ?HEADER  */
header {
  width: 97%;
  /* *border: 5px solid yellowgreen; */
  padding: 24px 0px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Burger_icon {
  display: none;
}

/* ?HEADER LI  */
header li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}

/* ?HEADER UL  */
.header_ul {
  display: flex;
  gap: 24px;
}

/* ?PARAGRAP DIV  */
.paragraph_div {
  background: #000000;
  border-radius: 32px;
}

/* ?HEADER P  */
.Action_P {
  color: #f3f3f3;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* Ending of Header  */

/* ?SECTION  */
.SectionOne {
  /* *border: 15px solid black; */
  width: 100%;
  padding: 64px 0px;
}

.SectionDiv {
  /* border: 10px solid green; */
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.SectionDiv_1 {
  /* border: 10px solid brown; */
}

.SectionDiv_img {
  /* border: solid rebeccapurple; */
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;
  width: 100%;
}

.SectionDiv_1_P {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 40px;
  width: 83%;
}

.ActionP_2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 40%;
}

.P_DIV {
  background: #000000;
  border-radius: 32px;
  width: 20%;
  padding: 12px 24px;
}

.ActionP2 {
  color: #f3f3f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.Action_P_div {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* ?ENDING OF SECTION 1 */

/* ?SECTION 2  */

.Section_2 {
  width: 100%;
  background-color: #f3f3f3;
  padding: 64px 0px;
}

.MotherDiv {
  /* border: 5px solid red; */
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.Child1 {
  /* border: 5px solid green; */
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.circule {
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
}

.Child_1_div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Feature_P {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.Section_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* ?Ending of section 2  */

/* ?Section 3  */

.Section_3 {
  background: #000000;
  width: 100%;
  padding: 96px 0px;
  /* font-family: "Inter", sans-serif; */
}

.MotherDiv2 {
  display: flex;
  justify-content: center;
  gap: 133px;
  align-items: center;
  height: 100%;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.S_Child2 ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.S_Child2 {
  width: 35%;
}

.lite_li {
  margin-top: 16px;
  margin-bottom: 16px;
}

.S_Child2 ul li {
  margin-bottom: 8px;
}

/* ENDIGNG OF SECTION 3  */

/* ?SEction 4  */

.Section_4 {
  background: url(../Photos/studio.webp);
  height: 566px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SectionDiv_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.S4_P {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  width: 60%;
  margin-top: 12px;
  margin-bottom: 10px;
}

.S4_action_div {
  background: #000000;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
/* ENDING OF SECTION 4 */

/* ?FOOTER  */

footer {
  width: 100%;
  margin-inline: auto;
  background: #000000;
  padding: 96px 0px;
}

.MainFooterDiv {
  display: flex;
  width: 97%;
  /* border: 5px solid brown; */
  margin-inline: auto;
}

.FooterAdditional {
  /* border: 5px solid rebeccapurple; */
  width: 100%;
}

.Footer2div {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  /* border: 5px solid red; */
  width: 20%;
}

.Footer2div p {
  width: 90%;
}
