@media (max-width: 1320px) {
  .SectionDiv {
    display: flex;
    flex-direction: column;
  }

  .SectionDiv_img {
    width: 100%;
  }

  .Section1Img {
    width: 100%;
    height: 450px;
    margin-top: 80px;
  }

  .SectionDiv_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    width: 80%;
  }

  .SectionDiv_1_P {
    width: 65%;
  }

  .ActionP_2 {
    width: 85%;
  }
}

/* !End of section 1 on 1320 px  */

/* !SECTION 3  */

@media (max-width: 1024px) {
  .MotherDiv2 {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-inline: auto;
  }

  .S_Child1 {
    width: 100%;
  }

  .Section3_img {
    width: 100%;
    height: 550px;
  }

  .S_Child2 {
    display: flex;
    gap: 129px;
    width: 100%;
  }

  h3 {
    width: 87%;
  }

  .lite_li {
    margin-top: 0px;
    width: 93%;
  }
}

/* !END OF SECTION 3 */

/* !FOOTER  */

@media (max-width: 1024px) {
  .MainFooterDiv {
    display: flex;
    flex-direction: column;
  }

  .FooterAdditional {
    display: flex;
  }

  .hide {
    display: none;
  }

  .Footer2divLogo {
    margin-bottom: 48px;
  }
}

/* Footer რომ ვასწორებ 1024 პიქსელზე 1440 ზე ირევა და ცუდად გამოდის, ვერ გავუგე რატომ. */

/* !End of Footer on 1024px  */

@media (max-width: 744px) {
  h2 {
    font-size: 40px;
    width: 100%;
  }

  .SectionDiv_1_P {
    width: 100%;
    align-self: stretch;
  }

  .Action_P_div {
    display: flex;
    flex-direction: column;
  }

  .P_DIV {
    width: 29%;
  }

  .ActionP_2 {
    width: 100%;
  }

  .Section1Img {
    margin-top: 24px;
  }

  /* *END OF SECTION 1 on 744 px  */

  /* *Section2  */

  .MotherDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Child1 {
    width: 100%;
    /* border: 5px solid red; */
  }

  .Child_1_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* !აქ section text, logically დან უნდა გადადიოდეს შემდეგ ხაზზე და ეგ ვერ დავსვი. */

  /* Start of section 3 on 744px  */
  .MotherDiv2 {
    display: flex;
    flex-direction: column;
    row-gap: 29px;
  }

  .S_Child2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 29px;
  }

  h3 {
    width: 97%;
  }

  /* .lite_li{
    margin-bottom: 29px;
  } */   
  /* ამ მოქმედებას არ მაკეთებინებს */

  /* !END OF SECTION 3 on 744px  */

  /* SECTION 4 on 744 px  */

  h4{
    width: 97%;
  }

  /* !End of media  */
}
